<div class="leaf flex ">
  <div class="inner justify ">
    <p> Another difference is the choice of tools and tackles at disposal for each. For coders there is simply too much choice out there. Use <span class="code">vim</span> or <span class="code">emacs</span> if you like the terminal or use Sublime or Atom
      if you prefer a sophisticated text editor. Use version control like <span class="code">git</span> or <span class="code">svn</span> to share and version all of your work. Co-author with rapid diff'ing and patching, push to deploy with Capistrano.
      Quality control with automated tests!
      <p>
        <p> Compare that with what an author has for their book. Microsoft word? </p>
  </div>
</div>