<div class="leaf ">
  <div class="inner justify ">
    <p> To see if it worked, type:</p>
    <div class="terminal turnoff"> $ ssh -T git@github.com </div>
    <p> And you'll get a message like this: </p>
    <div class="terminal turnoff"> $ Hi marvin! You've successfully authenticated, but GitHub does not provide shell access.</div>
    <p>Great! So now we have everything set up to version and save the history of our book (manuscript). </p>
    <p>Let's go over and finish the last step now. </p>
  </div>
</div>