<div class="leaf ">
  <div class="inner justify ">
    <h1> Device Support</h1>
    <p> By default, a blank superbook is supported on all devices (all viewports) and all desktops (all operating systems) with a <a href="http://browsehappy.com/">modern browser</a>. It is only the content that could limit the outreach of your book. </p>
    <p> For example, <a href="https://en.wikipedia.org/wiki/WebGL">webgl</a> may not be supported on some Android devices, older iPhones and desktops. In case your book uses <span class="code">webgl</span>, then it will not be available on those devices.
      It is important to emphasize here that you <em>must</em> use only <a href="https://github.com/bubblin/Official-Handbook/blob/master/views/page-11/style.css">responsive typography</a> to compose the pages of your book. Else you'll risk supporting
      even fewer devices than you could. </p>
    <p> Always test your content i.e. HTML, CSS and JavaScript on multiple devices and look for support and known issues on <a href="http://caniuse.com/">caniuse</a>. </p>
    <p class="small"> <i class="fa fa-thumbs-up gray"> Pro tip: </i> Provide complete support information to your readers on the cover page of your book. </p>
  </div>
</div>