/*html, body {
  background-color: #222024;
  background: -webkit-radial-gradient(center, circle, #47414c 0%, #222024 100%);
  background: radial-gradient(circle at center, #47414c 0%, #222024 100%);
  background-repeat: no-repeat;
  color: white;
}*/