<div class="leaf ">
  <div class="inner justify">
    <h4> Step-2: Installing GIT</h4>
    <p> Next install <span class="monospace">git-scm</span> to manage versioning and history of your project (book). </p>
    <div class="terminal turnoff">
      <div>$ brew install git </div>
    </div>
    <p> You can use another <span class="monospace">scm</span> tool like Mercurial, Subversion or Perforce too, but Git is really nice.</p>

    <p> To verify: </p>
    <div class="terminal turnoff">
      <div>$ git --version
      </div>
    </div>

  </div>
</div>