<div class="leaf ">
  <div class="inner justify ">
    <h4> Step-2: Installing GIT</h4>
    <p> Next install <span class="monospace">git-scm</span> to manage versioning and history of your project (book). Type the following command in your terminal. </p>
    <div class="terminal turnoff">
      <div>$ brew install git </div>
    </div>
    <p> To verify: </p>
    <div class="terminal turnoff">
      <div>$ git --version</div>
    </div>
    <p>It will say <span class="monospace">git version 2.5.1</span> or later on your console. </p>
    <p> You can also use other <span class="monospace">scm</span> tools like Mercurial, Subversion or Perforce for source code management. For the purpose of this book we will go with Git because it is so nice to work with.</p>
  </div>
</div>