<div class="leaf flex">
  <div class="inner justify ">
    <h1> Preface </h1>
    <p> On the surface, writing a book may seem very different from app development — they are different trades after all — but at the heart of writing one there is more similarity between the two activities than differences. For authors both trades are ultimately
      about great storytelling, great design and great packaging. A comparision of what book writers do daily, the steps, and how they progress into their book with what app developers do would surprise you for the least. And thus a chance of one trade
      benefiting from another. </p>
    <p> Book writing requires a masterful use of grammatical constructs and subtle nuances of a human language (like English or French). The latter too requires exactly the same pursuit but only from an author who writes in a computer language. Both books
      and apps have a design and layout need, and, thankfully both treat the idea of look and feel separate from content. Thoughtful typography, generous usage of text and images make both products engaging and potent. </p>
  </div>
</div>