<div class="leaf flex">
  <div class="inner justify ">
    <p> So where is the difference really? Through my role at Bubblin, switching between hats of a book writer and an app developer, I've come to a conclusion that there are only three differences between books and apps: </p>
    <ol>
      <li> Spine, </li>
      <li> The tool chain, and the </li>
      <li> Database. </li>
    </ol>
    <p> Books have a rigid spine that knits the pages (views) together. In a <em>specific</em> order. It's not the same thing as <a href="https://en.wikipedia.org/wiki/Hyperlink">hyperlinking</a> a few loose webpages. Spine turns a stack into a book and restricts the arrangement into a linear read order. It thus influences the reading experience. Both in physical realm and in the world of software (See default behavior in native apps like the Kindle App or iBooks). </p>
    <p> Apps on the other hand rely on menus and hyperlinks that aren't supposed to bind pages in form of a book. I have personally known many developers who accepted turning their books into websites with lose hyperlinks and almost no design often ending
      up with poor readership.</p>
  </div>
</div>