<div class="leaf flex">
  <div class="inner justify ">
    <h1> Preface </h1>
    <p> On the surface writing a book may seem very different from app development — they are different trades after all — but at the heart of writing each there is more similarity than differences. For authors (of books or software applications) both trades
      are ultimately about great storytelling, seamless design and engagement. Infact the number of steps common between what book writers do and what app developers do daily would surprise you for the least. Also, thus a chance of one trade benefiting
      from another. </p>
    <p> Book writing requires a masterful use of grammatical constructs and subtle nuances of a human language (like English or French). The latter too requires exactly the same pursuit but only from an author who writes in a computer language. Both books
      and apps have a design and layout need, and, thankfully both treat the idea of look and feel separate from content. Both products benefit from thoughtful typography and require generous usage of text, images and style. </p>
  </div>
</div>