<div class="leaf">
  <div class="inner justify ">
    <h4> Step-1: Installing Homebrew</h4>
    <p> First, install <a href="http://brew.sh/">Homebrew</a>. Homebrew allows us to install and compile necessary software packages easily from the source. </p>
    <p> It comes with a handy installation script: </p>
    <div class="terminal turnoff"> $ ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)" </div>
    <p>Run (paste) the command above in your terminal. When it asks you to install XCode CommandLine Tools, say yes. </p>
    <p> Once the installation is done: </p>
    <div class="terminal turnoff">
      <p>$ brew update</p>
      <p>$ brew doctor </p>
    </div>
    <p> You'll get <span class="monospace">Your system is ready to brew</span> message on the console. </p>
  </div>
</div>