.terminal {
  background-color: black;
  color: #55ff55;
  margin: 3vw 0;
  font: 2vw/1.0 'Roboto', sans-serif;
  width: 70vw;
  border: 1px solid #ccc;
  padding: 2vw 5vw;
  border-radius: 1vw;
  font-family: monospace;
}


.prompt {
    background:  #55ff55;
    height: 1em;
    width: 0.75em;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}


@-webkit-keyframes blink {
  0% {
    background:  #55ff55;
  }
  49% {
    background:  #55ff55;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}

@keyframes blink {
  0% {
    background:  #55ff55;
  }
  49% {
    background:  #55ff55;
  }
  50% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}