<div class="leaf ">
  <div class="inner justify ">
    <p> The code editor will automatically combine the components you provide into HTML, CSS and JS fields and render the output into <strong>ActivePage</strong>. </p>

    <p>You can toggle between <strong> ActivePage </strong> by clicking on the page numbers listed for on the editor bar. </p>

    <img src="https://raw.githubusercontent.com/bubblin/Bubblin-Handbook/master/images/page-7/active-page.jpg" width="100%" />

    <p>In the close-up above, page-2 and page-3(active) are available for editing. Clicking on [2] will activate it (turn green) and then the code editor will output into page-2 on the left.</p>
  </div>
</div>