<div class="leaf flex">
  <div class="inner justify ">
    <h1> A New Project</h1>
    <p> Brilliant. Assuming that you've <a href="https://bubbl.in/users/new">signed up</a> on Bubblin already and are totally excited about learning to code your book up, let's get straight to the first thing:
      <p> Login into your Bubblin account and press: </p>
      <p class="command"> 'Command (⌘) + O' or 'CTRL + O' </p>
      <p>A menu will slide out on your left, as shown below: </p> <img src="https://raw.githubusercontent.com/bubblin/Bubblin-Handbook/master/images/page-6/bubblin-menu.jpg" width="100%" />

  </div>
</div>