<div class="leaf flex">
  <div class="inner justify ">
    <p> Professional book writers prefer to save all history of their work, like app developers do. Keep track of their progress. In fact manuscript editions are so much like software builds with only subtle changes that an author makes from experience and
      learnings. </p>
    <p> But at high level is there a difference at all? Through my role at Bubblin, switching hats between that of a book writer and an app developer, I've come to realize that there are only three fundamental differences between books and apps (websites
      & native): </p>
    <ol>
      <li> The tool chain, </li>
      <li> A spine that stems pagination, and </li>
      <li> Probably a database. </li>
    </ol>
    <p> A major difference between the two products is in the tools of their making. The tool and tackles at disposal of developers is simply outrageous. It is obvious that apps have been in vogue for much of the past two decades and there is plenty of everything
      for developers to write code with. Use <span class="code">vim</span> or <span class="code">emacs</span> if you like the terminal or soak in Sublime or Atom if you prefer a sophisticated <a href="https://en.wikipedia.org/wiki/Text_editor">text editor</a>.
      </p>
  </div>
</div>