<div class="leaf ">
  <div class="inner justify ">
    <p> Another major difference is in the tool and tackles at disposal of authors. Since apps are in vogue there is plenty choice of tool for developers. Use <span class="code">vim</span> or <span class="code">emacs</span> if you like the terminal or take
      Sublime or Atom if you prefer a sophisticated text editor. Use <span class="code">git</span> or <span class="code">svn</span> for version control and save all the history of your work. Co-author with any number of friends, anywhere in the world.
      Cash in pull requests with rapid diff'ing and discussion. Push to deploy with Capistrano. Ha!</p>
    <p> Compare it with what book authors have. Microsoft word? The savvier ones probably have a little more to play with — <span class="code">latex</span>, <span class="code">markdown</span> or <span class="code">lout</span> — but the tooling with most ends
      with <strong>boldface</strong> and <em>italics</em> only. A little bit of images but those too float away with reflow. </p>
    <p> There isn't a way to add a <a href="http://setosa.io/ev/pi/">canvas experiment</a> or do a comics in pure CSS3, for example. There is no way for book authors to visualize, edit and test their product on production like environment. Or escape the enclosure
      of lifeliess downloadable artifacts that they're forced into. </p>
  </div>
</div>