<div class="leaf flex">
  <div class="inner justify ">
    <p> Professional book writers prefer to save the history of their work and keep track of their project just like app developers do. In fact manuscripts editions are almost like software builds with subtle changes that an author makes from experience.
      </p>
    <p> So where is the difference really? Through my role at Bubblin, switching hats between that of a book writer and an app developer, I've come to a conclusion that there are only three differences between books and apps (websites): </p>
    <ol>
      <li> Spine, </li>
      <li> The tool chain, and the </li>
      <li> Database. </li>
    </ol>
    <p> Books have a rigid spine that knits the pages (views) together in a <em>specific</em> order. It's not the same thing as <a href="https://en.wikipedia.org/wiki/Hyperlink">hyperlinking</a> a few loose webpages. Spine restricts the arrangement in a linear
      read order and thus influences the reading experience itself. </p>
  </div>
</div>