<div class="leaf ">
  <div class="inner justify ">
    <p> Now let us look at the third difference between books and apps: the database. It seems unlikely that book is ever going to need a database to back it up for there is more similarity between books and static HTML websites than between books and dynamic applications
      with a database underneath. Unless we were to look at workbooks and drawingbooks. </p>
    <p> I suspect that native is going to lead the way here, especially for workbooks and drawingbooks, given that we do have alternative forms of input creeping into our digital lives already. Eventually, web too will catch up and adapt to the new landscape of devices, and very likely outrun its closed counterparts.  </p>
    <p> With these rather disconnected thoughts and dreams I welcome you to our <a href="https://bubbl.in/cover/official-handbook-by-marvin-danig">Official Handbook</a>. Feel free to <a href="mailto:marvin@bubbl.in">write to me</a> or follow me on <a href="https://twitter.com/marvindanig">Twitter</a>      if you like. </p>
    <p class="right"> - Marvin Danig, September 2015 </p>
  </div>
</div>