<div class="leaf flex">
  <div class="inner justify ">
    <h1> Preface </h1>
    <p> On the surface book writing seems very different from app development — they're different trades after all — but there are many similarities between the two activities, and thus a chance of one benefiting from the other. </p>
    <p> The former requires a masterful use of grammatical constructs and subtle nuances of a human language (like English), but the latter too requires exactly the same pursuit only from an author who writes in a computer language. </p>
    <p> Both books and apps have a design and layout to consider, and, thankfully both treat the idea of look and feel separate from content. Both benefit from thoughtful typography and require generous usage of text, images and style. </p>
    <p> Professional book writers prefer to save the history of their work and keep track of their project just like app developers do. In fact manuscripts editions are almost like software builds with subtle changes that an author makes from experience.
    </p>
  </div>
</div>