<div class="leaf ">
  <div class="inner justify ">
    <h1> Preface </h1>
    <p> Writing a book is hard. Harder than words could describe it here. It takes months if not weeks to complete a work, and almost twice as much time to iterate and improve upon it. And then come the challenge of packaging, marketing and distribution.
      Each stage a subject in their own right, with even lesser control than the one before it. Writing can be challenging and get increasingly complicated as the <em>plot</em> (your project grows?) thickens. Add competitiveness and power of niche play
      on top of it, you're in the warzone already.</p>

    <p>The only other activity that comes close to the experience of writing books professionally is the trade of writing code. A <em>lot</em> of code to publish an app. There are differences ofcourse. The obvious one is the language in which an author writes.
      The former i.e. book writing requires a masterful use of grammatical constructs and subtle nuances of a human language (like English), while the latter requires exactly the same pursuit but only from an author of a computer language. Not much of
      difference so to speak? A not-so-obvious difference is the choice of tools and tackles at disposal. For coders or developers there is just too much choice.</p>
  </div>
</div>