<div class="leaf ">
  <div class="inner justify ">
    <p> Let's now look at the third basic difference between books and apps — the database. It seems unlikely that books are going to need a database to back 'em up. For there is more similarity between books and static html websites than between books and
      dynamic apps with a database. </p>
    <p> Compare it with what book authors have. Microsoft word? The savvier ones probably have a little more to play with — <span class="code">latex</span>, <span class="code">markdown</span> or <span class="code">lout</span> — but the tooling with most ends
      with <strong>boldface</strong> and <em>italics</em> only. A little bit of images but those too float away with reflow. </p>
    <p> There isn't a way to add a <a href="http://setosa.io/ev/pi/">canvas experiment</a> or do a comics in pure CSS3, for example. There is no way for book authors to visualize, edit and test their product locally. Or escape the idea of fifty odd formats
      of lifeless downloadable artifacts that they need to provide over the web. </p>
  </div>
</div>