<div class="leaf flex">
  <div class="inner justify ">
    <h1> Preface </h1>
    <p> On the surface book writing and app development seem very different. They are different trades ofcourse, but there are numerous similarities between the two activities. Infact innumerable. The former requires a masterful use of the grammatical constructs
      and subtle nuances of a human language (like English), but the latter too requires exactly the same pursuit but only from an author of a computer language. The difference being only the <em>operative</em> language in use for each. </p>
    <p>
      Both books and apps have similar challenges relating to design and layout. Both require thoughtful typography and romantic usage of images and text to bring out the story nicely. Both have equally difficult time when it comes packaging, marketing and
      distrubution. </p>
  </div>
</div>