<div class="leaf flex">
  <div class="inner justify ">
    <p> Web seems to be lagging because the experience of spine isn't supported (proposed) yet and <a href="https://en.wikipedia.org/wiki/Hyperlink">hyperlinking</a> a few loose webpages or even <a href="https://en.wikipedia.org/wiki/Pagination"> pagination </a>      in the traditional sense of web isn't the same thing. Spine restricts the arrangement in a linear read order and has a significant influence on the reading experience itself. I found it particularly advantageous on mobile phones and tablets where
      piecemealing the context into small chewable chunks was very easy to achieve. </p>
    <p> About ten years ago people tried emulating the spine with third-party plugins like <a href="https://en.wikipedia.org/wiki/Adobe_Flash">Macromedia Flash</a> but those crude attempts seem to have done more damage to the cause of books than good. I personally
      know of many developers who conceded to ripping apart their books at the spine and turning them into websites. Often ending up with bad design and poor readership.</p>

    <p> I wish web had native support for books with <span class="code"> spine_url</span> and pages. A tag that considered all semantics and pragmatics of a book {:parent} and its pages {:children}. Only then could tooling for books be built ground up and
      be matched with what developers have for writing apps today. But that's a discussion for another place and time.</p>
  </div>
</div>