<div class="leaf ">
  <div class="inner justify ">
    <p> Now press: </p>
    <div class="command"> 
      <p>Command (⌘) + I <span class="right"> # If you're on Mac</span> </p> 
      <p> CTRL + I <span class="right"> ## if you're on Windows or Linux <span></p>
    </div>
    <p>If you're on the iPad or iPhone simply tap the logo to open the same menu and then tap the <i class="fa fa-book large"> </i> button to initialize a new book. </p>
    <p> Voila, your fresh new project is ready to take off. </p>
    <p>By default there will be four (minimum) blank pages in your book folded in a bifolium. Use <i class="fa fa-arrow-circle-o-left"> / </i> <i class="fa fa-arrow-circle-o-right"> </i> arrow keys to flip around. </p>
    <hr/>
    <p> Since mobiles/tablets aren't an ideal device - nor situation - for writing/editing books, our editing tools are limited to desktops only. Previews are, however, available on smartphones to help you test the rendering of your book. </p>
    <p class="alert">
    <i class="fa fa-info-circle"> </i> Full featured editing is available only on desktops. </p>
  </div>
</div>