<div class="leaf ">
  <div class="inner">
    <h1> Contents</h1>
    <ul>
      <li><a href="9" class="page"> Preface <span> 9</span></a></li>
      <li><a href="15" class="page"> New Project <span> 15</span></a></li>
      <li><a href="17" class="page"> Support Information <span> 17 </span></a></li>

      <li><a href="" class="page" class="page"> Code Playground (The Book Editor) <span> 14 </span></a></li>
      <li><a href="" class="page"> Github for Book <span> 8 </span></a></li>
      <li><a href="" class="page"> Modes <span> 22</span> </a></li>
      <li><a href="" class="page"> Add / Remove Pages <span> 14</span> </a> </li>
      <li><a href="" class="page"> Book Name & URL <span> 18</span></a></li>
      <li><a href="" class="page"> Writing Good HTML <span> 22</span> </a></li>
      <li><a href="" class="page"> HEAD: Injecting Resources via CDN <span> 22</span> </a></li>
      <li><a href="" class="page"> Adding Images <span> 22</span> </a></li>
      <li><a href="" class="page"> Responsible CSS3 <span>28</span></a></li>
      <li><a href="" class="page"> Scaling text ( Without the headache of reflow! ) <span> 22</span> </a></li>
      <li><a href="" class="page"> JavaScript <span> 22</span> </a></li>
      <li><a href="" class="page"> Cover Design and Marketing <span>31</span></a></li>
      <li><a href="" class="page"> Pricing <span>36</span></a></li>
      <li><a href="" class="page"> Stripe Connect <span>38</span></a></li>
      <li><a href="" class="page"> Donations <span>38</span></a></li>
      <li><a href="" class="page"> Help & Feedback <span> 41 </span></a></li>
    </ul>
  </div>
</div>