<div class="leaf ">
  <div class="inner">
    <h1> Contents</h1>
    <ul>
      <li><a href="7" class="page"> Index <span> 7</span></a></li>
      <li><a href="10" class="page"> Preface <span> 10</span></a></li>
      <li><a href="16" class="page"> New Project <span> 16</span></a></li>
      <li><a href="18" class="page"> Device Support <span> 18 </span></a></li>
      <li><a href="19" class="page"> Bash Your Book <span> 19 </span></a></li>
      <li><a href="22" class="page"> Code Playground - The Editor <span> 22 </span></a></li>
      <li><a href="24" class="page"> Getting on Github <span> 24 </span></a></li>
      <li><a href="27" class="page"> Modes <span> 27</span> </a></li>
      <li><a href="28" class="page"> Templates <span> 28</span> </a> </li>
      <li><a href="30" class="page"> Add / Remove Pages <span> 30</span> </a> </li>
      <li><a href="31" class="page"> Book Name & URL <span> 31</span></a></li>
      <li><a href="32" class="page"> Internal Links & Content <span> 32</span></a></li>
      <li><a href="33" class="page"> Full Bleed Images <span> 33</span> </a></li>
      <li><a href="34" class="page"> HEAD: Injecting CDN Resources <span> 34</span> </a></li>
      <li><a href="35" class="page"> Responsible CSS3 <span>35</span></a></li>
      <li><a href="36" class="page"> JavaScript <span> 36</span> </a></li>
      <li><a href="37" class="page"> Book Previews <span> 37</span> </a></li>
    </ul>
  </div>
</div>