<div class="leaf ">
  <div class="inner">
    <h1> Contents</h1>
    <ul>
      <li><a href="9" class="page"> Preface <span> 9</span></a></li>
      <li><a href="15" class="page"> New Project <span> 15</span></a></li>
      <li><a href="17" class="page"> Device Support <span> 17 </span></a></li>
      <li><a href="18" class="page"> Bash Your Book <span> 18 </span></a></li>
      <li><a href="21" class="page" class="page"> Code Playground - The Editor) <span> 21 </span></a></li>
      <li><a href="23" class="page"> Getting on Github <span> 23 </span></a></li>
      <li><a href="26" class="page"> Modes <span> 26</span> </a></li>
      <li><a href="27" class="page"> Templates <span> 27</span> </a> </li>
      <li><a href="29" class="page"> Add / Remove Pages <span> 29</span> </a> </li>
      <li><a href="30" class="page"> Book Name & URL <span> 30</span></a></li>
      <li><a href="" class="page"> Internal links <span> 31</span> </a> </li>

      <li><a href="" class="page"> HEAD: Injecting CDN Resources <span> 22</span> </a></li>
      <li><a href="" class="page"> Adding Images <span> 22</span> </a></li>
      <li><a href="" class="page"> Responsible CSS3 <span>28</span></a></li>
      <li><a href="" class="page"> JavaScript <span> 22</span> </a></li>
      <li><a href="" class="page"> Cover Design and Marketing <span>31</span></a></li>
      <li><a href="" class="page"> Pricing & Stripe Connect <span>36</span></a></li>
      <li><a href="" class="page"> Help & Feedback <span> 41 </span></a></li>
    </ul>
  </div>
</div>