<div class="leaf flex">
  <div class="inner justify ">
    <p> Both in physical realm and in the world of software (See default behavior in native apps like the Kindle App or iBooks).</p>
    <p> Apps on the other hand rely on menus and hyperlinks that aren't supposed to shape out like a book. I have personally known many developers who accepted turning their books into websites with lose hyperlinks and almost no design often ending up with
      poor readership.</p>
    <p> Another major difference is in the tool and tackles at disposal of authors. Since apps are in vogue there is plenty choice of tool for developers. Use <span class="code">vim</span> or <span class="code">emacs</span> if you like the terminal or take
      Sublime or Atom if you prefer a sophisticated text editor. Use <span class="code">git</span> or <span class="code">svn</span> for version control and save all the history of your work. Co-author with any number of friends, anywhere in the world.
      Cash in pull requests with rapid diff'ing and discussion. Push to deploy with Capistrano. Ha!</p>
  </div>
</div>