<div class="leaf ">
  <div class="inner justify ">
    <p> I wish web had native support for books with a <span class="code"> spine_url</span>. A tag (like the <span class="code">video</span> tag) that considers all semantics and pragmatics of a book {:object} and its subresources. Only then could tooling
      for books match with what developers have for apps today. But this is a discussion for another place and time.</p>
    <p> Let's now look at the third basic difference between books and apps — the database. It seems unlikely that books are going to need a database to back 'em up. For there is more similarity between books and static html websites than between books and
      dynamic apps with a database. </p>
    <p> But there is certainly a possibility. If we were to consider workbooks where a few pages (ajaxified iframes) have forms to accept input from the readers — voila!, there we have a case for a database. </p>
    <p> With these thoughts I welcome you to our <a href="https://bubbl.in/cover/official-handbook-by-marvin-danig">Official Handbook</a>. Feel free to <a href="mailto:marvin@bubbl.in">write to me</a> or follow on <a href="https://twitter.com/marvindanig">Twitter</a>      if you want to. I try to answer all emails. </p>
    <p class="right"> - Marvin Danig, September 2015 </p>
  </div>
</div>