@import url('//fonts.googleapis.com/css?family=Chewy');
@import url('//fonts.googleapis.com/css?family=Roboto:400,300');

body {
  background: #ffe;
  margin: 0 0;
  overflow: hidden;
  color: #666;
  font: 3.5vw/1.1 'Chewy', sans-serif;
}

.leaf {
  height: 100%;
  height: 100vh;
  width: 80%;
  margin: auto;
}

.inner {
  margin: 70% auto;
  width: 100%;
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footnote {
  text-align: center;
  height: 20vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  font: 2vw/1.1 'Roboto', sans-serif;

}