<div class="leaf ">
  <div class="inner justify ">
    <p> The code editor will automatically combine the components you provide in HTML, CSS and JS fields and render it on the <strong>ActivePage</strong>. </p>
    <p>You can toggle <strong> ActivePage </strong> by clicking on the page numbers listed for editing on the toolbar. </p> <img src="https://raw.githubusercontent.com/bubblin/Bubblin-Handbook/master/images/page-7/active-page.jpg" width="100%" />
    <p>In the image above, note both page-2 and page-3(active) are available for viewing. Clicking on [2] will activate page-2 (turn green) and then the code editor will output into page-2 on the left.</p>
    <p class="small"> <i class="fa fa-html5 gray"> Mode: </i> Full <a href="26" class="page">HTML5 editor</a> mode is available. </p>
  </div>
</div>